helmDefaults:
  wait: true
  timeout: 1800

repositories:
  - name: open-webui
    url: https://helm.openwebui.com/
  - name: ollama-helm
    url: https://otwld.github.io/ollama-helm/
  - name: sysdig
    url: https://charts.sysdig.com
  - name: ingress-nginx
    url: https://kubernetes.github.io/ingress-nginx

releases:
  - name: ingress-nginx
    namespace: ingress-nginx
    chart: ingress-nginx/ingress-nginx
    createNamespace: true
    atomic: true
    version: 4.12.2
    values:
      - controller:
          ingressClassResource:
            default: true
  - name: open-webui
    namespace: open-webui
    chart: open-webui/open-webui
    createNamespace: true
    atomic: true
    version: 4.0.0
    needs: [ ingress-nginx/ingress-nginx ]
    values:
      - image:
          pullPolicy: IfNotPresent
          repository: ghcr.io/open-webui/open-webui
          tag: 0.4.3
      - ollama:
          enabled: false
        persistence:
          enabled: false # No need of persistence for now
        pipelines:
          enabled: false # Pipelines are enabled with other helm release
        extraEnvVars:
          - name: WEBUI_AUTH # No need to enable authentication
            value: "false"
          - name: ENABLE_OLLAMA_API
            value: "true"
          - name: ENABLE_EVALUATION_ARENA_MODELS
            value: "false" # We do not need arena models, this is just confusing for the trainees
          - name: OLLAMA_BASE_URL
            value: "http://ollama.ollama.svc.cluster.local:11434"
          - name: DEFAULT_MODELS
            value: llama3.1:8b
          - name: OPENAI_API_BASE_URL # This enables pipelines in the UI
            value: http://open-webui-pipelines.open-webui-pipelines.svc.cluster.local:9099
          - name: OPENAI_API_KEY
            value: 0p3n-w3bu!
        resources:
          limits:
            ephemeral-storage: 2Gi
          requests:
            cpu: 500m
            ephemeral-storage: 2Gi
            memory: 2Gi
        service:
          annotations: {}
          containerPort: 8080
          labels: {}
          loadBalancerClass: ""
          nodePort: ""
          port: 80
          type: ClusterIP
        ingress:
          enabled: true
          host: open-webui.127-0-0-1.nip.io # To be edited later by the deploy script
  - name: open-webui-pipelines
    namespace: open-webui-pipelines
    chart: open-webui/pipelines
    createNamespace: true
    atomic: true
    version: 0.0.4
    values:
    - image:
        pullPolicy: Always
        repository: ghcr.io/tembleking/open-webui-pipelines
        tag: 0.0.2
    - ingress:
        enabled: false
      persistence:
        enabled: false
    - extraEnvVars:
      - name: PIPELINES_URLS
        value: https://raw.githubusercontent.com/tembleking/kube-helper-ai-demo/master/helper.py
    hooks:
      - events: [prepare]
        command: bash
        args:
          - -c
          - |
            kubectl create namespace playground || true;
            kubectl create rolebinding open-webui-pipelines-playground-edit \
              --namespace playground \
              --clusterrole edit \
              --serviceaccount open-webui-pipelines:default || true;
            kubectl create clusterrole cluster-view --resource '*.*' --verb get --verb list --verb watch || true;
            kubectl create clusterrolebinding open-webui-pipelines-cluster-view \
              --clusterrole cluster-view \
              --serviceaccount open-webui-pipelines:default || true;
      - events: [postsync]
        command: kubectl
        args:
          - patch
          - deployment
          - open-webui-pipelines
          - -n
          - open-webui-pipelines
          - --type=json
          - '-p=[{"op": "remove", "path": "/spec/template/spec/automountServiceAccountToken"}]'
      - events: [preuninstall]
        command: bash
        args:
          - -c
          - |
            kubectl delete rolebinding open-webui-pipelines-playground-edit --namespace playground || true;
            kubectl delete namespace playground || true;
            kubectl delete clusterrolebinding open-webui-pipelines-cluster-view || true;
            kubectl delete clusterrole cluster-view || true;
            kubectl delete clusterrolebinding open-webui-pipelines-cluster-admin || true;
  - name: ollama
    namespace: ollama
    chart: ollama-helm/ollama
    createNamespace: true
    atomic: true
    version: 0.67.0
    values:
      - ollama:
          models:
            - llama3.1:8b
        nodeSelector: 
          cloud.google.com/gke-accelerator: nvidia-l4
          cloud.google.com/gke-accelerator-count: "1"
        resources:
          limits:        
            nvidia.com/gpu: 1
  - name: sysdig
    namespace: sysdig
    chart: sysdig/sysdig-deploy
    createNamespace: true
    atomic: true
    version: 1.67.0
    values:
      - global:
          clusterConfig:
            name: {{ env "CLUSTER_NAME" | default "ai-demo-cluster" }}
          sysdig:
            region: us2
            accessKey: {{ requiredEnv "SYSDIG_ACCESS_KEY" }}
          kspm:
            deploy: false
          gke:
            autopilot: true
        agent:
          sysdig:
            settings:
              drift_control:
                enabled: true
              drift_killer:
                enabled: true
        nodeAnalyzer:
          enabled: false
          nodeAnalyzer:
            benchmarkRunner:
              deploy: false
            hostAnalyzer:
              deploy: false
            runtimeScanner:
              deploy: false
            imageAnalyzer:
              deploy: false
            hostScanner:
              deploy: false
        kspmCollector:
          enabled: false
        admissionController:
          enabled: false
        clusterShield:
          enabled: true
          cluster_shield:
            log_level: warn
            features:
              audit:
                enabled: true
              container_vulnerability_management:
                enabled: true
              posture:
                enabled: true
